In [1]:
from trade_alert.src.stock_data import GetStockData
from trade_alert.utils.macd import calculate_macd
import pandas_ta as ta

In [2]:
data_mngr = GetStockData()

In [3]:
nvidia = data_mngr.get_data(ticker='NVDA')
nvidia.head()

                 Close        Open        High    Volume         Low
Date
2021-01-22  137.005341  137.280095  138.296708  24682000  136.153591
2021-01-25  136.413361  137.697243  138.164334  25111200  132.249501
2021-01-26  134.235260  135.686492  136.328433  16398000  133.758183
2021-01-27  129.064774  132.184546  132.212018  37127200  127.825850
2021-01-28  130.396118  129.849095  133.281111  22831600  129.491909

In [4]:
nvidia = calculate_macd(nvidia)
nvidia

            MACD_12_26_9  MACDh_12_26_9  MACDs_12_26_9
Date
2021-01-22           NaN            NaN            NaN
2021-01-25           NaN            NaN            NaN
2021-01-26           NaN            NaN            NaN
2021-01-27           NaN            NaN            NaN
2021-01-28           NaN            NaN            NaN
...                  ...            ...            ...
2022-01-14     -6.632941      -2.513207      -4.119734
2022-01-18     -7.792644      -2.938329      -4.854316
2022-01-19     -9.279334      -3.540014      -5.739319
2022-01-20    -11.069881      -4.264450      -6.805432
2022-01-21    -12.965610      -4.928143      -8.037467

[253 rows x 3 columns]